/* Попытка выравнять как в макете, путем взаимного вычитания
отступов блоков 'header' и 'header__lang-link' от верхней
кромки страницы  */

.header__lang-links {
  padding-top: 18px;
  display: flex;
  align-items: stretch;
}

@media screen and (max-width: 767px) {
  .header__lang-links {
    padding-top: 15px
  }
}

/* @media screen and (min-width: 320px) and (max-width: 767px) {
  .header__lang-links {
    padding-top: 15px
  }
} */